<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  	
  	<mapping class="pe.org.reclamos.entidad.Apelacion"/>
  	<mapping class="pe.org.reclamos.entidad.Authority"/>
	<mapping class="pe.org.reclamos.entidad.Capacitacion"/>
	<mapping class="pe.org.reclamos.entidad.CapacitacionItem"/>
	<mapping class="pe.org.reclamos.entidad.Capacitador"/>
	<mapping class="pe.org.reclamos.entidad.Cliente"/>
	<mapping class="pe.org.reclamos.entidad.Despachador"/>
	<mapping class="pe.org.reclamos.entidad.DetalleDevolucion"/>
	<mapping class="pe.org.reclamos.entidad.Detallefactura"/>
	<mapping class="pe.org.reclamos.entidad.Devolucion"/>
	<mapping class="pe.org.reclamos.entidad.Factura"/>
	<mapping class="pe.org.reclamos.entidad.Fideliza"/>
	<mapping class="pe.org.reclamos.entidad.Indemnizacion"/>
	<mapping class="pe.org.reclamos.entidad.ItemsReclamo"/>
	<mapping class="pe.org.reclamos.entidad.Notificacion"/>
	<mapping class="pe.org.reclamos.entidad.Parametro"/>
	<mapping class="pe.org.reclamos.entidad.Perfil"/>
	<mapping class="pe.org.reclamos.entidad.Permiso"/>
	<mapping class="pe.org.reclamos.entidad.PermisosPerfil"/>
	<mapping class="pe.org.reclamos.entidad.PermisosPerfilPK"/>
	<mapping class="pe.org.reclamos.entidad.Persona"/>
	<mapping class="pe.org.reclamos.entidad.Producto"/>
	<mapping class="pe.org.reclamos.entidad.Promocion"/>
	<mapping class="pe.org.reclamos.entidad.Proveedor"/>
	<mapping class="pe.org.reclamos.entidad.Reclamo"/>
	<mapping class="pe.org.reclamos.entidad.Solicitud"/>
	<mapping class="pe.org.reclamos.entidad.Solucion"/>
	<mapping class="pe.org.reclamos.entidad.Usuario"/>
		
  </session-factory>
</hibernate-configuration>